html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100vw;
  min-height: 100vh;

  background-color: #c0d7fa;
  text-align: left;

  display: flex;
  flex-direction: column;   
  align-items: center;     
}

.App h1 {
  margin-top: 0;            
  padding-top: 10px;        
}
